* {
  margin: 0;
  padding: 0;
  font-size: 15px; }

html {
  font-family: Arial, Helvetica, sans-serif; }

.row {
  padding: 30px; }

#header.sticky {
  padding: 7px 0;
  z-index: 1;
  background-color: #000;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }

#header {
  padding: 10px 0;
  width: 100%;
  position: fixed;
  transition: all 0.5s ease-in-out; }
  #header .home {
    display: inline-block; }
    #header .home .header__logo {
      display: inline-block;
      width: 80px;
      padding: 10px 0 10px 80px; }
  #header #nav {
    text-decoration: none;
    text-transform: none;
    float: right; }
    #header #nav ul {
      display: inline-block;
      margin: 0; }
      #header #nav ul li {
        display: inline-block;
        padding: 18px; }
        #header #nav ul li a {
          color: #fff;
          text-decoration: none; }

#banner {
  background: url("/src/img/banner.jpg"); }
  #banner .row {
    padding-top: 170px; }
    #banner .row .banner__ads {
      display: inline-block;
      width: 50%; }
      #banner .row .banner__ads .banner__logo {
        width: 150px; }
      #banner .row .banner__ads .banner__title {
        font-size: 30px;
        color: #fff; }
      #banner .row .banner__ads .banner__line {
        padding: 10px 0;
        color: #fff; }
      #banner .row .banner__ads .banner__content {
        opacity: 0.5;
        padding-bottom: 10px;
        color: #fff; }
      #banner .row .banner__ads .banner__btn {
        background: none;
        padding: 10px 20px;
        color: #fff;
        border: 2px solid #fff; }
        #banner .row .banner__ads .banner__btn:hover {
          cursor: pointer; }
    #banner .row .banner__trial {
      padding-right: 65px;
      width: 226px;
      float: right; }
      #banner .row .banner__trial .trial__title {
        padding: 10px 20px;
        background-color: #f5f5f5;
        width: 186px;
        text-align: center;
        display: inline-block;
        color: #fff; }
        #banner .row .banner__trial .trial__title p {
          display: inline-block;
          color: #000;
          font-weight: 600;
          opacity: 0.9; }
        #banner .row .banner__trial .trial__title span {
          display: inline-block;
          color: #fe9b5b; }
      #banner .row .banner__trial .trial__content {
        text-align: center;
        background-color: #fff;
        padding-bottom: 30px; }
        #banner .row .banner__trial .trial__content input {
          padding: 20px 10px 0 0;
          width: 183px;
          border-left: none;
          border-top: none;
          border-right: none;
          opacity: 0.5;
          border-width: 1px;
          outline: none;
          font-size: 13px; }
      #banner .row .banner__trial .trial__btn {
        width: 100%;
        padding: 10px;
        border: none;
        background-color: #fe9b5b;
        color: #fff; }
